<!--
  Generated template for the QrIngresoLocalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="alert3" [ngClass]="{'mostrarAlert3':mostrarAlert3}">
    <h1>{{mensaje}}</h1>
  </div>
<ion-header>
  <ion-navbar color="red">

    
    <ion-buttons>
      <button ion-button menuToggle>
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>

    

    <!-- <ion-title>{{sala}}</ion-title> -->
    <!-- <p class="subtitle" style="color: white;">{{usuario.mail}}</p> -->

    <ion-buttons end>
      <button ion-button>
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="red">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button ion-item>
            <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp;Convencional
        </button>
        <button ion-item>
          Friends
        </button>
        <button ion-item>
          Events
        </button>
        <button ion-item >
          Close Menu
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-nav #content swipeBackEnabled="false"></ion-nav>

<ion-content >
    <div class="encuestas" [ngClass]="{'desplegar':desplegarEncuesta}" >
      <h1 class="tituloEncuestas">Opiniones de nuestros clientes</h1>
      <div class="laEncuesta">
          
          <div class="encuesta1" *ngFor="let encuesta of encuestas">
          <h2 class="tituloEncuesta1">Cliente:{{encuesta.cliente}}</h2>
          <h3 class="PreguntaEncuesta1">¿Qu&eacute;  piensa qu&eacute; es lo mejor del restaurante?</h3>
          <p class="respEncuesta1">{{encuesta.preg5}}</p>
          <h3 class="PreguntaEncuesta1"> ¿Como calificar&iacute;a la atenci&oacute;n?</h3>
          <p class="respEncuesta1">{{encuesta.preg2}}</p>
          <h3 class="PreguntaEncuesta1"> ¿Del 1 al 10 que tan buenos son nuestros platos?</h3>
          <p class="respEncuesta1">{{encuesta.preg4}}</p>
          <h3 class="PreguntaEncuesta1"> ¿Se sintio c&oacute;modo en nuestro restaurante?</h3>
          <p class="respEncuesta1"> {{encuesta.preg1}}</p>
          <div class="fotos">
              <img  *ngIf="encuesta.foto1 !=''" [src]="encuesta.foto1">
              <img *ngIf="encuesta.foto2 !=''" [src]="encuesta.foto2">
              <img *ngIf="encuesta.foto3 !=''" [src]="encuesta.foto3">
              </div>
          </div>
        </div>  
        

      </div>
  
        
        <!--div class="encuesta1" *ngFor="let encuesta of encuestas">
          <h2 class="tituloEncuesta1">Cliente:{{encuesta.cliente}}</h2>
          <h3 class="PreguntaEncuesta1">¿Qu&eacute;  piensa qu&eacute; es lo mejor del restaurante?</h3>
          <p class="respEncuesta1">{{encuesta.preg5}}</p>
          <h3 class="PreguntaEncuesta1"> ¿Como calificar&iacute;a la atenci&oacute;n?</h3>
          <p class="respEncuesta1">{{encuesta.preg2}}</p>
          <h3 class="PreguntaEncuesta1"> ¿Del 1 al 10 que tan buenos son nuestros platos?</h3>
          <p class="respEncuesta1">{{encuesta.preg4}}</p>
          <h3 class="PreguntaEncuesta1"> ¿Se sintio c&oacute;modo en nuestro restaurante?</h3>
          <p class="respEncuesta1"> {{encuesta.preg1}}</p>
    <  
          <div class="fotos">
            <img  *ngIf="encuesta.foto1 !=''" [src]="encuesta.foto1">
            <img *ngIf="encuesta.foto2 !=''" [src]="encuesta.foto2">
            <img *ngIf="encuesta.foto3 !=''" [src]="encuesta.foto3">
            </div>
        </div>

      </div-->
    
      
  <div class="contenido">
    <h1 class="tituloPag">¡Bienvenido!</h1>
    <p class="info">Lea el c&oacute;digo QR de la puerta para anunciarse en lista de espera.</p>
    <button class="btnQr1" (click)="leerQr()" ion-button color="red">Leer QR</button>
  </div>

</ion-content>
