
<div class="alert3" [ngClass]="{'mostrarAlert3':mostrarAlert3}">
  <h1>{{mensaje}}</h1>
</div>


<ion-content>
  <div class="vacio" [ngClass]="{'sinEncuestas':noHayEncuestas}">
    <img src="assets/imgs/beta/Reloj.png">
    <h1 class="tituloSinEncuestas">En breve lo atenderá un mozo, y le dara una mesa.</h1>

  </div>


  <div class="encuestas" [ngClass]="{'desplegar':desplegarEncuesta}">
    <h1 class="tituloEncuestas">Opiniones de nuestros clientes</h1>

    <img *ngIf="desplegarEncuesta" src="assets/imgs/beta/Reloj.png">
    <div class="encuesta1" *ngFor="let encuesta of encuestas">
      <h2 class="tituloEncuesta1">{{encuesta.cliente}}</h2>

      <div class="pregResp">
        <h3 class="PreguntaEncuesta1">¿Se sintió cómodo en el restaurante?</h3>
        <p class="respEncuesta1">{{encuesta.preg1}}</p>
      </div>
      <div class="pregResp">
        <h3 class="PreguntaEncuesta1"> ¿Como calificar&iacute;a la atenci&oacute;n?</h3>
        <p class="respEncuesta1">{{encuesta.preg2}}</p>
      </div>
      <div class="pregResp">
        <h3 class="PreguntaEncuesta1"> ¿Que tan buenos son nuestros platos?</h3>
        <p class="respEncuesta1">{{encuesta.preg4}}</p>
      </div>
      <div class="pregResp">
        <h3 class="PreguntaEncuesta1"> ¿Del 1 al 10, qué puntaje le pondrias al restaurante?</h3>
        <p class="respEncuesta1"> {{encuesta.preg5}}</p>
      </div>
      <div class="fotos">
        <img *ngIf="encuesta.foto1 !=''" [src]="encuesta.foto1">
        <img *ngIf="encuesta.foto2 !=''" [src]="encuesta.foto2">
        <img *ngIf="encuesta.foto3 !=''" [src]="encuesta.foto3">
      </div>
    </div>

</div>

    <div class="contenido" *ngIf="mostrar">
      <h1 class="tituloPag">¡Bienvenido!</h1>
      <p class="info">Lea el c&oacute;digo QR de la puerta para anunciarse en lista de espera.</p>
      <button class="btnQr1" (click)="leerQr()" ion-button color="red">Leer QR</button>
    </div>

</ion-content>