page-qr-ingreso-local {

   
    @import url('https://fonts.googleapis.com/css?family=Kalam|Lobster|Sorts+Mill+Goudy');
    @import url('https://fonts.googleapis.com/css?family=Spicy+Rice');
    @import url('https://fonts.googleapis.com/css?family=Acme|Spicy+Rice');
    @import url('https://fonts.googleapis.com/css?family=Rancho');

    ion-navbar {
        padding: 20px 10px !important;

        ion-icon {
            color: white;
        }
    }

    ion-navbar ion-icon { font-size: 50px !important; }

    .contenido
    {
       
        width: 100%;
        height: 100%!important;
        display: flex;
        flex-direction: column;
        background: url("../assets/imgs/beta/fondoQr.jpg");
        background-size:100% 100%;
        position:relative;
    }
    .tituloPag
    {
        font-family: 'Lobster', cursive;
        text-align: center;
        color:white;
        font-size:5em;
    }
    .info   
    {
        font-family: 'Sorts Mill Goudy', serif;
        font-size: 2em;
        text-align: center;
        color:white;
        width: 80%;
        margin-left: 10%;
        margin-top:10%;
        box-sizing: border-box;
    }
    .btnQr1
    {
        width: 50%;
        margin-left: 25%;
        padding: 20%;
        font-size: 2em;
        color: black;
        font-family: 'Sorts Mill Goudy', serif;
    }
    .encuestas
    {
        position: absolute;
     z-index:1000;
        width:100%;
      //  height: 100%;
      background-color: orangered;
        display:none;
        background: url("../assets/imgs/beta/fondoQr.jpg");
        background-size:100% 100%;
      //  background: url("../assets/imgs/beta/fondoQr.jpg");
       // background-size:100% 100%;
    }
    .laEncuesta
    {
        width: 100%;
        height: 81%;
        margin-top: 30%;
        overflow: scroll;
        box-sizing: border-box;
    border-top:5px solid black;
     
    }
    .alert3
    {
       position: absolute;
       z-index: 50000;
       width: 80%;
       padding:10%;
       left: 10%;
       border-radius: 5%;
       background-color: black!important;
       text-align: center;
       top: 36%;
       justify-content: center;
       
       flex-direction: column;
   display:none;

    }
    .mostrarAlert3
    {
        display:flex!important;
    }
    .alert3 h1
    {
       font-family: 'Lobster', cursive;
       color:white;
    }
    .fotos
    {
        display: flex;
        justify-content: space-around;
    }
    .fotos img
    {
        width: 25%;
        height: 100%;
    }
    .desplegar
    {
        display: block;
    }
    .tituloEncuestas
    {
        text-align: center;
        font-family: 'Spicy Rice', cursive;
        /* position: absolute; */
        top: 5%;
        COLOR: #f4f5a7;
        /* width: 90%; */
        border-bottom: 3px solid white;
        /* left: 5%; */
        font-size: 2.8em;
        padding: 0%;
        font-family: 'Lobster', cursive;
        //color:white;
    }
    .encuesta1
    {
     
        border-bottom: 1px solid orangered;
        padding:5% 0;
        border-top: 2px solid orangered;
      
    }
    .encuesta1 h2, .encuesta1 p
    {
       // color:white;
        width:80%;
        margin-left:10%;
        text-align: left;
        //margin-left:5%;
    }
    .encuesta1 p
    {
        font-size: 2em;
        font-family: 'Rancho', cursive;
        background: rgba(255, 255, 255, 0.59);
        text-align: center;
    }
     .encuesta1 h3
    {
        width:90%;
        margin-left:5%;
        text-align: center;
        font-family: 'Spicy Rice', cursive;
        letter-spacing: 2px;
        //color:white;
    }
    .encuesta1 h2
    {
        width:80%;
        margin-left:10%;
        font-family: 'Spicy Rice', cursive;
        text-align: center;
        margin-bottom:8%;
        color:#db1814;
        border-bottom: 2px solid #db1814;
        letter-spacing: 1px;
    }
    .PreguntaEncuesta1
    {
        color:white;
    }
    @media  screen and(max-width:"340px")
    {
        
        .tituloPag {
            font-size: 3em;
        }
        
        
    }
}
