page-alta-de-mesa {

    ion-navbar {
        padding: 20px 10px !important;
        

        ion-icon {
            color: white;
        }
    }

    ion-navbar ion-icon { font-size: 50px !important; }

    .button-md {


        width: 40%;
        margin-left: 30%;
        margin-right: 30%
    }

    .item-block {
        margin:0 auto;
        

        
    }

    ion-item {
        //background: transparent!important;
        text-align: center !important;
        border-radius: 20px ;
        //background-color: red !important;
        margin-top: 3px !important;
        max-width: 80% !important;
        margin-left: auto;
        margin-right: auto;

        
       
        
        
    }

    ion-col{
        margin-left: auto;
        margin-right: auto;

    }


}
