page-alta-de-mesa {

    ion-navbar {
        padding: 20px 10px !important;
        

        ion-icon {
            color: white;
        }
    }

    ion-navbar ion-icon { font-size: 50px !important; }

    
    .item-block {
        margin:0 auto;
        

        
    }

    ion-item {
       
        text-align: center !important;
        border-radius: 20px ;
        
        margin-top: 3px !important;
        max-width: 80% !important;
        margin-left: auto;
        margin-right: auto;

        
       
        
        
    }

    ion-col{
        margin-left: auto;
        margin-right: auto;
      

    }

   



  



    

}
