page-tomar-pedido {
    
    .accordion-list {
        //background: color($colors, light);
        height: 100%;
    }
    .section {
        //background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
    .section-active {
        background: #ffc400;
        color: #fff;
    }
 
    .child {
        //background: #e8e7e6;
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        //background: #f3f2f1;
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }

    .scroll-content {
        background-image: url('../../assets/imgs/gamma/blue.jpeg');
        background-size: cover; 
        background-position: center; 
    }

    .pregunta1, .pregunta2, .pregunta3, .pregunta4, .pregunta5, .pregunta6
    {
        position: absolute;
        z-index: 1000;
        width:100%;
        height:100%;
        display:flex;
        justify-content: center;
        align-items:center; 
        background: #0000009e;
    }

    .laPregunta1, .laPregunta2, .laPregunta3, .laPregunta4, .laPregunta5, .laPregunta6
    {
        width: 100%;
        padding-bottom:5%;
        background-color: white;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .5s;
    }

    .laPregunta1 h2, .laPregunta2 h2, .laPregunta3 h2 , .laPregunta4 h2, .laPregunta5 h2 , .laPregunta6 h2  {
        font-family: 'Lobster', cursive;
     text-align: center;
    }

    .noMostrar
    {
        display: none;
        transition: .5s;
    }

    
}
