page-qr-de-la-mesa {

    .center {
        //padding: 0px 20px 0px 20px;
        margin-top: 10%;
        -webkit-align-content: stretch;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -webkit-justify-content: center;
        align-content: stretch;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        //height: 200px;
        //width: 200px;
       
      }

      .submit-btn {
        background: #DF013A;
        border-radius: 30px !important;
        border: 1px solid #0030ff;
        
      }
      .button {
        margin-top: 0%;
        
      }
      h1 {
        font-weight: bold;
        //color: #fff;
        font-size: 50px;
      }


      .home {
        background-color: #ffffff !important;
      }
      .box {
        background: #0030ff;
        padding: 0px 20px 0px 20px;
        margin-top: 0px;
      }
      ion-row {
        align-items: center;
        text-align: center;
      }
    
      ion-item {
          border-radius: 30px !important;
          padding-left: 30px !important;
          font-size: 0.9em;
          margin-bottom: 10px;
          border: 1px solid #0030ff;
          border-bottom: 0px !important;
          box-shadow: none !important;
      }

      /*.scroll-content {
        background-image: url('../../assets/imgs/gamma/qr.jpg');
        background-size: cover; 
        background-position: center; 
    }*/



}
