<!--
  Generated template for the QrDeLaMesaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>qrDeLaMesa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>-->

<ion-header>
  <ion-navbar color="red">
    <ion-title>
      qrDeLaMesa
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="Logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

    <ion-content padding class="home">
     <!--   <div class="center">
          <ion-row>
            <h1>Mesa:</h1>
          </ion-row>
          
        </div>
        <div class="center button">
          <button ion-button class="submit-btn" >Relacionar cliente con mesa</button>
        </div>

        <div class="center button">
          <button ion-button class="submit-btn" >Ver estado de pedido</button>
        </div>

        <div class="center button">
          <button ion-button class="submit-btn" >Acceder a encuesta de satisfaccion</button>
        </div>-->
        
      </ion-content>

      <ion-content  *ngIf="probandingg">

         <div *ngIf="vistaMozo">

         




      <h2 class="titulo">Lista de personas en espera</h2>

      <ion-list>

        <ion-item *ngFor="let item of espera">
          <ion-thumbnail item-start>
            <!--<img src={{item.img}}>-->
            <ion-icon name="person"></ion-icon>
          </ion-thumbnail>
    
         <!-- <h1>{{item.apellido}}, {{item.clave}}</h1>
          <p>Empleado • {{item.tipo}}</p>
          <p>CUIL • {{item.cuil}}</p>-->

          <h1 style="color:black;">{{item.correo}}, {{item.nombre}}</h1>
          <p style="color:black;">Tipo : • {{item.tipo}}</p>
         
    
          <!--<button ion-button clear item-end (click)="MostrarQr(item.correo)">-->
              <button ion-button clear item-end (click)="ocuparMesaBarcode(item.correo)">
            <ion-icon name="expand"></ion-icon>
          </button>
        </ion-item>
    
      </ion-list>

      <h2 class="titulo">Lista de personas Atendidas</h2>

      <ion-list>

        <ion-item *ngFor="let item of atendidos">
          <ion-thumbnail item-start>
            <!--<img src={{item.img}}>-->
            <ion-icon name="people"></ion-icon>
          </ion-thumbnail>
    
        <!--  <h1>{{item.apellido}}, {{item.clave}}</h1>
          <p>Empleado • {{item.tipo}}</p>
          <p>CUIL • {{item.cuil}}</p>-->

          <h1 style="color:black;"> {{item.correo}}, {{item.nombre}}</h1>
          <p  style="color:black;">Tipo : • {{item.tipo}}</p>
    
         <!-- <button ion-button clear item-end (click)="MostrarPedidos(item.mesa)">-->
            <button ion-button clear item-end (click)="probandoBarcode()">
            <ion-icon name="restaurant"></ion-icon>
          </button>
        </ion-item>
    
      </ion-list>

     

    </div>

    <div *ngIf="vistaCliente">

       <!-- <button ion-button clear item-end (click)="mostrarTiempoBarcode()">
            <ion-icon name="expand"></ion-icon>
          </button>-->

          <button ion-button class="submit-btn" color="red" class="botonAlta" (click)="mostrarTiempoBarcode()" >Escanear Mesa</button>


    </div>

    </ion-content>


      <ion-footer *ngIf="cerrarqr">
        <ion-toolbar>
          <ion-title>Footer</ion-title>
          <button ion-button color="red" class="close" (click)="OcultarLectorQR()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-toolbar>
      </ion-footer>
