@font-face {
    src: url("../../assets/fonts/Cinzel-Regular.ttf");
    font-family: cinzel;
}

page-listado-supervisor {

    .scroll-content {
        background-image: url('../../assets/imgs/alfa/encuesta-supervisor.jpg');
        background-size: cover; 
        background-position: center;
    }

    ion-menu {
        .scroll-content { background-image: none; }
    }

    ion-navbar {
        padding: 20px 10px !important;

        ion-icon {
            color: white;
        }
    }

    ion-navbar ion-icon { font-size: 50px !important; }

    ion-item {
        background-color: rgba(0, 0, 0, .6) !important;
        color: white !important;

        p {
            color: rgba(255, 255, 255, .9) !important;
        }

        ion-icon {
            color: white;
            font-size: 30px;
        }
    }

    .titulo {
        width: 100%;
        padding: 10px 0 10px 0;
        font-family: cinzel;
        text-align: center;
        background-color: rgba(207, 73, 70, 1);
        color: white;
    }

}
