<ion-header>
  <ion-navbar color="red">

    <ion-buttons end>
      <button ion-button (click)="Logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<div class="imagen" [ngClass]="{'ocultar':ocultarImagen,'opacidad':true}">

  <ion-icon name="close" (click)="OcultarImagen()"></ion-icon>
  <img [src]="image" alt="">

</div>

<ion-content>

  <ng-container *ngIf="ocultarSpinner">
    <h2 class="titulo">Empleados</h2>
  </ng-container>

  <ion-list>

    <ion-item *ngFor="let item of empleados">
      <ion-thumbnail item-start (click)="MostrarImagen(item.img)">
        <img src={{item.img}}>
      </ion-thumbnail>

      <h1>{{item.apellido}}, {{item.nombre}}</h1>
      <p>Empleado • {{item.tipo}}</p>
      <p>CUIL • {{item.cuil}}</p>

      <button ion-button clear item-end (click)="MostrarEncuesta(item)">
        <ion-icon name="clipboard"></ion-icon>
      </button>
    </ion-item>

  </ion-list>

  <ng-container *ngIf="ocultarSpinner">
    <h2 class="titulo">Clientes</h2>
  </ng-container>

  <ion-list>

    <ion-item *ngFor="let item of clientes">

      <ion-thumbnail item-start (click)="MostrarImagen(item.img)">
        <img src={{item.img}} />
      </ion-thumbnail>

      <h1>{{item.apellido}}, {{item.nombre}}</h1>
      <p>{{item.tipo}}</p>
      <p>DNI • {{item.dni}}</p>

      <button ion-button clear item-end (click)="MostrarEncuesta(item)">
        <ion-icon name="clipboard"></ion-icon>
      </button>
    </ion-item>

  </ion-list>

  <app-spinner [ngClass]="{'ocultar':ocultarSpinner}"></app-spinner>

</ion-content>