page-pedir-platos {
    @import url('https://fonts.googleapis.com/css?family=Boogaloo');
    @import url('https://fonts.googleapis.com/css?family=Mali|Spicy+Rice');
    ion-navbar {
        padding: 20px 10px !important;

        ion-icon {
            color: white;
        }
    }

    ion-navbar ion-icon { font-size: 50px !important; }
 
    
    .slide
    {
        position:absolute;
       z-index:2000;
        display:none;
        width: 100%;
        height: 100%;
        top: 0;
        background: orangered;
       
        }
      
        .tituloslide
        {
            text-align: center;
            font-family: 'Lobster', cursive;
            color:white;
            font-family: 'Mali', cursive;
            background: black;
    margin-top: 0;


        }
        .descSlide
        {  
            text-align: left;
            font-family: 'Lobster', cursive;
          
            font-family: 'Mali', cursive;
          
        }
        .button-outline-md
        {
            border:none;
        }
     
   
      .foto
      {
        height: 50%;
        width: 90%;
        margin-left: 5%;
      }
      
        .mostrarSlide
        {
            display:block;
        }
    .contenido
    {
       
        width: 100%;
        height: 100%!important;
        display: flex;
        flex-direction: column;
        background: url("../assets/imgs/beta/fondoPedido.jpg");
        background-size:100% 100%;
        position:relative;
    }
    .tituloPag
    {
        font-family: 'Lobster', cursive;
        text-align: center;
        color:white;
        font-size:3em;
        background:orangered;
        margin-bottom:20%;
    }
    .tituloPlatos
    {
        font-family: 'Lobster', cursive;
        text-align: center;
        color:white;
   
     
        margin-bottom:10%;
    }
 
    .btnPlatos
    {
        margin-bottom:5%;
        width: 104px;
        height: 104px;
        margin-left: 15%;
        border-radius: 104px;
        position: relative;
        box-shadow: 0 2px 17px 0 black;
    }
    .btnPlatos img
    {
        max-width: 100%;
        border: 0;
        width: 60px;
        position: absolute;
        top: 0;
    }
    .btnPlatos span
    {
        margin-top:23%;
    }
    .btnBebidas 
    {
        margin-bottom:5%;
        width: 104px;
        height: 104px;
        margin-left: 15%;
        border-radius: 104px;
        position: relative;
        box-shadow: 0 2px 17px 0 black;
    }
    .btnBebidas img
    {
        max-width: 100%;
        border: 0;
        width: 60px;
        position: absolute;
        top: 5px;
        height: 50px;
    }
    .btnBebidas span
    {
        margin-top:23%;
    }
    .botonespp
    {
        margin-top:17%;
    }
    .inpDireccion
    {
        margin-top: 5%;
        width: 70%;
        margin-left: 15%;
        background: #f7f5f2b8;;
        border: 3px solid white;
        padding: 5%;
        border-radius: 4% 4% 4% 4%;
        font-size: 1.5em;
        font-family: 'Boogaloo', cursive;
    }
    .inpDireccion::placeholder
    {
       
        font-size: 1.5em;
        font-family: 'Boogaloo', cursive;
        text-align: center;
       }  
       
       .btnPedir
       {
        width: 50%;
        margin-left: 25%;
        margin-top: 15%;
      
        font-size: 1.7em;
        height: 15%;
        font-family: 'Boogaloo', cursive;
       }
       .platos
       {
           position: absolute;
           z-index:1000;
         
           width: 100%;
           height: 75%;
           top: 24%;
           background: orangered;
           overflow:scroll;
           
               
       }
       .elPlato
       {
        width: 100%;
        
        /* border: 5px solid red; */
        overflow: scroll;
        background: white;
      
        height: 76%;
        /* border: 5px solid red; */
        overflow: scroll;
        background: white;
        /* margin-top: -20px; */
        margin-top: -9%;
       }
   
       .plato{
        position: relative;
        width: 100%;
        box-sizing: border-box;
        position: relative;
      // height: 30%;
      height:110px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    
        border-bottom: 1px solid grey;
       }
       .platoImagen{
        width: 20%;
        position: absolute;
        left: 2%;
        top: 15%;
        height: 70%;
       }
       #img
       {
        width: 20%;
        position: absolute;
        right: 2%;
        top: 35%;
        height: 60%;
       }
.elegido
{
    position:absolute;
    z-index:3000;
   display:none;
    position: absolute;
    z-index: 3000;
    width: 100%;
  
  

    height: 124px;
    background: #050505ad;
    top: -17px;
}
.mostrarElegido
{
    display:block;
}
.cerrarSlide
{
    font-size:2.5em;
}
       .plato .precio
       {
        position: absolute;
        right: 5%;
        top: 3%;
        font-size: 1.5em;
       } 
       .platoCant
       {
        position: absolute;
        left: 25%;
        bottom: 17%;
        font-size: 1.5em;
       }

       .plato h2
       {
           margin-left:25%;
       }
       .plato button
       {
        position: absolute;
        right: 2%;
        bottom: 5%;
        width: 30%;
       }
       .ocultar
       {
           display:none;
       }
       .ocultarTit
       {
           visibility: hidden;
       }
       .inpCantidad
       {
        margin-left: 50%;
        margin-top: 7%;
        width: 10%;
        height: 30%;
       }
       .aceptarBtn
       {
              
    width: 30%;
  
    position: absolute;
    bottom: 0%;
    left: 17.5%;
       }
       .cancelarBtn
       {
        width: 30%;
  
        position: absolute;
        bottom: 0%;
        right:  17.5%;

       }
       @media  screen and(max-height:"550px")
       {
           
           .elPlato {
              height:65%;
           }
           .contenido
           {
               height: 600px!important;
           }
           
       }

    }