@font-face {
    src: url("../../assets/fonts/Lobster-Regular.ttf");
    font-family: lobster;
}

@font-face {
    src: url("../../assets/fonts/Cinzel-Regular.ttf");
    font-family: cinzel;
}

@keyframes jelly { 
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.4% { transform: matrix3d(1.316, 0, 0, 0, 0, 1.407, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { transform: matrix3d(1.45, 0, 0, 0, 0, 1.599, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    6.81% { transform: matrix3d(1.659, 0, 0, 0, 0, 1.893, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { transform: matrix3d(1.883, 0, 0, 0, 0, 2.168, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.21% { transform: matrix3d(1.942, 0, 0, 0, 0, 2.226, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    13.61% { transform: matrix3d(2.123, 0, 0, 0, 0, 2.332, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { transform: matrix3d(2.141, 0, 0, 0, 0, 2.331, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    17.52% { transform: matrix3d(2.208, 0, 0, 0, 0, 2.239, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { transform: matrix3d(2.212, 0, 0, 0, 0, 2.187, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.32% { transform: matrix3d(2.196, 0, 0, 0, 0, 2.069, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { transform: matrix3d(2.151, 0, 0, 0, 0, 1.96, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25.23% { transform: matrix3d(2.134, 0, 0, 0, 0, 1.938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.03% { transform: matrix3d(2.063, 0, 0, 0, 0, 1.897, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { transform: matrix3d(2.048, 0, 0, 0, 0, 1.899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { transform: matrix3d(1.979, 0, 0, 0, 0, 1.962, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.74% { transform: matrix3d(1.972, 0, 0, 0, 0, 1.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { transform: matrix3d(1.961, 0, 0, 0, 0, 2.022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    44.44% { transform: matrix3d(1.966, 0, 0, 0, 0, 2.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { transform: matrix3d(1.991, 0, 0, 0, 0, 2.006, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    59.86% { transform: matrix3d(2.006, 0, 0, 0, 0, 1.99, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { transform: matrix3d(2.007, 0, 0, 0, 0, 1.992, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    75.28% { transform: matrix3d(2.001, 0, 0, 0, 0, 2.003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { transform: matrix3d(1.999, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    90.69% { transform: matrix3d(1.999, 0, 0, 0, 0, 1.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes opacidad {
    from { background-color: rgba(0, 0, 0, 0); }
    to { background-color: rgba(0, 0, 0, .4); }
}

page-alta-duenio-supervisor {

    ion-content {
        background-image: url('../../assets/imgs/alfa/supervisor-bgn.jpg');
        background-size: cover; 
        background-position: center;
    }

    ion-navbar {
        padding: 20px 10px !important;

        ion-icon {
            color: white;
        }
    }

    ion-navbar ion-icon { font-size: 50px !important; }

    body {
        width: 100%;
    }

    div.vertical-container {
        display: flex;
        background-size: cover;
        font-family: roboto;

        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        padding-top: 20px;
    }

    div.header {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    img {
        width: 140px;
        height: auto;
    }

    h1 {
        font-size: 80px;
        font-weight: 100;
        color: color($colors, red);
        font-family: lobster;
        margin-bottom: 25px;
    }

    h2 {
        width: 100%;
        padding: 10px 0 10px 0;
        font-family: cinzel;
        text-align: center;
        background-color: rgba(207, 73, 70, 1);
        color: white;
    }

    input, select {
        width: 75%;
        border: gray solid 2px;
        padding: 10px;
        margin: 20px 0 20px 0;
        font-size: 25px;
        transition-duration: .3s;
        transition-property: border-bottom-color font-size;
        background-color: rgba(255, 255, 255, 0.8);
        caret-color: color($colors, red);
    }

    input:first-of-type {
        margin-bottom: 3vh;
    }

    input:focus {
        transform: scale(1.2);
        border-color: color($colors, red);;
        background-color: rgb(255, 255, 255); 
    }

    .alta {
        padding: 30px;
        width: 20ch;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        font-size: 20px;
        text-transform: none;
    }

    .ocultar {
        display: none !important;
    }

    .mostrar {
        display: block !important;
    }

    .ocultar-fondo {
        background-image: none;
    }

    .close {
        width: 50px;
        height: 50px;
        display: none;
        position: fixed;
        z-index: 2;
        bottom: 5%;
        right: 5%;
        font-size: 30px;
        padding: 0;
    }

    .animation-target {
        animation-name: jelly;
        animation-duration: 1000ms;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }

    .alert {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: center;
        animation-name: opacidad;
        animation-duration: .5s;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }
    
    .alert-message {
        width: 130px;
        background-color: rgba(color($colors, red), .5);
        color: white;
        overflow: auto;
        text-align: center;
        border: none;
    
        .botones {
            display: flex;
            flex-direction: row;
            height: 30px;
            width: 100%;
            margin: 0;
            padding: 0;
    
            button[ion-button] {
                height: 100%;
                margin: 0;
                font-size: 10px;
                color: white;
                border-radius: 0;
                background-color: color($colors, red);
                text-transform: none;
                border: none;
                width: 100%;
            }
    
            button[ion-button] + button[ion-button] {
                border-left: 2px color($colors, red) solid;
            }
        }
    
        h1 {
            width: 100%;
            font-size: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            color: white;

        }
    
        p {
            font-size: 10px;
            margin-left: auto;
            margin-right: auto;
            margin: 10px auto 10px auto;
            width: 90%;
            color: white;
        }
    }

}
